html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    font: 16px/1 sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
p,
blockquote,
figure,
ol,
ul {
    margin: 0;
    padding: 0;
}
main,
li {
    display: block;
}

strong {
    font-weight: bold;
}
a,
button {
    color: inherit;
    transition: .3s;
}
a {
    text-decoration: none;
} 
button {
    overflow: visible;
    border: 0;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
}
::-moz-focus-inner {
    padding: 0;
    border: 0;
}
:focus {
    outline: 0;
}
img {
    max-width: 100%;
    height: auto;
    border: 0;
}

 /*Mit dem obigen Code schaffen wir eine gute Grundlage (Foundation) für unsere CSS Datei. Der Grund warum normalization und reset nicht immer die beste Entscheidung sind ist schlicht und ergreifend, weil sie einerseits überflüssigen Code beinhalten wie beispielsweise <hr>, <kbd>, <var> oder <ruby> tags. Andererseits fehlen wichtige Sachen */

html{
    min-height: 101vh;
}

body{
    background: radial-gradient(circle, #0059b3, #004080, #00264d);
    color: white;
}

footer{
    text-align: center;
    margin-top: auto;
}

nav img{
    width: 50px;
    height: 50px;
}

nav ul{
	display: flex;
	flex-direction: row;
    color: black;
    background: linear-gradient(to right, rgb(26, 163, 255) ,  rgb(0, 230, 230));
    justify-content: center;
	align-items: center;
}

nav li{
	flex: 1;
	text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

article{
    max-width: 100%;
}

h1{
    text-align: center;
	font-size: 1.5rem;
}

h2{
	font-size: 1.2rem;
}

h3{
	font-size: 1.1rem;
}

article{
    width: 800px;
    margin: auto;
    margin-bottom: 20px;
    text-align: justify;
    
}

.about_img{
    display: block;
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
}


p:first-child{
    margin-bottom: 10px;
}

/* Grid Layout*/

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 300px;
    grid-gap: 15px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    
}

.wrapper > div {
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 30px;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    max-height: 300px;
}

.review {
    grid-column: 1 / 4;
}

.review a{
    position: absolute;
}

.review_header{
    width: auto;
    z-index: 1;
    background-color: #CC4444;
    padding: 5px;
    margin: 10px;
    font-size: 15px;
}

.review_title{
    background-color: rgba(100, 100, 100, 0.5);
    font-size: 40px;
    margin-top: 200px;
    padding-left: 10px;
    width: 100%;
}

.review_subtitle{
    background-color: rgba(100, 100, 100, 0.5);
    font-size: 25px;
    margin-top: 240px;
    padding-top: 10px;
    padding-left: 10px;
    width: 100%;
}

.review img{
    width: 100%;
    
}

.content {
    grid-column: 1 / 3;
}

.content a{
    position: absolute;
}

.content_header{
    width: auto;
    z-index: 1;
    background-color: #2244AA;
    padding: 5px;
    margin: 10px;
    font-size: 15px;
}

.news{
    grid-column: 3 / 4;
}

.news a{
    position: absolute;
}

.news_header{
    width: auto;
    z-index: 1;
    background-color: #44AA44;
    padding: 5px;
    margin: 10px;
    font-size: 15px;
}

.news_img{
    
    max-height: 150px;
    width: 100%;
}

@media screen and (max-width: 610px){
    .wrapper {
        grid-auto-rows: 200px;
    }
    
    .review_img{
        min-height: 200px;
    }
    
    .review_header{
    font-size: 13px;
    }
    
    .review_title{
    font-size: 30px;
    margin-top: 125px;
    }

    .review_subtitle{
        font-size: 16px;
        margin-top: 155px;
    }
    
    .content_header{
    font-size: 13px;
    }
    
    .news_header{
    font-size: 13px;
    }
}

@media screen and (max-width: 400px){
    .wrapper {
        grid-auto-rows: 150px;
    }
    
    .review_img{
        min-height: 150px;
    }
    
    .review_header{
    font-size: 10px;
    }
    
    .review_title{
    font-size: 20px;
    margin-top: 100px;
    }
    
    .content_header{
    font-size: 10px;
    }
    
    .news_header{
    font-size: 10px;
    }

    .review_subtitle{
        font-size: 11px;
        margin-top: 120px;
        padding-top: 5px;
    }
    
}